<p class="footer">sinai camps is agreat and amaizing site so wonderful praise the lord allah it has many spelling mistakes and i dont know shit about nice styling like what color goes with what background because im a dip shit any ways this is the footer</p>
</body>
</html>