<!DOCTYPE html>
<html>
    <head>
        <title>sinai camps</title>
         
         
         <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
    <ul>
<% if(!currentUser){ %>
             <li><a href="/login">login</a></li>
    	     <li><a href="/register">sign up</a></li>
     <% } else { %>
            <li>signed as <%=currentUser.username%></a></li>
    	    <li><a href="/logout">logout</a></li>
    	<% } %>
    </ul>   
    
    