<!DOCTYPE html>
<html>
    <head>
        <title>sinai camps</title>
         
         
         <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
    <ul>
             <li><a href="/campgrounds">home</a></li>
<% if(!currentUser){ %>
             <li  id="right"><a href="/login">login</a></li>
    	     <li  id="right"><a href="/register">sign up</a></li>
     <% } else { %>
            <li id="right"><p> signed as <%=currentUser.username%></p></li>
    	    <li id='right'><a href="/logout">logout</a></li>
    	<% } %>
    </ul> 

    <div class="opening">
        <h1>sinai camp blog</h1>
    </div> 
    
    