<%- include("../partials/header") %>

<h1>create new comment to <%= campground.name %> </h1>

<form action="/campgrounds/<%=campground._id%>/comments" method="POST">
	<input type="text" placeholder="text" name="comment[text]">
	<button>submit</button>
</form>
<a href="/campgrounds">back</a>
<%- include("../partials/footer") %>
