<%- include("./partials/header") %>
<h1>sign up</h1>
<form action="/register" method="POST">
	<input type="text" placeholder="username" name="username">
	<input type="text" placeholder="password" name="password">
	<button>submit</button>
</form>
<%- include("./partials/footer") %>